body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:955px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:520px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:520px;
}
#u1 {
  position:absolute;
  left:2px;
  top:252px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:30px;
  width:940px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:50px;
}
#u3 {
  position:absolute;
  left:2px;
  top:17px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:10px;
  top:38px;
  width:45px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
}
#u4_img.mouseOver {
}
#u4.mouseOver {
}
#u5 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:360px;
  top:220px;
  width:220px;
  height:40px;
  font-size:14px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u7 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:364px;
  top:224px;
  width:213px;
  height:32px;
}
#u8_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u9 {
  position:absolute;
  left:360px;
  top:278px;
  width:220px;
  height:40px;
  font-size:14px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u10 {
  position:absolute;
  left:2px;
  top:12px;
  width:216px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:364px;
  top:282px;
  width:213px;
  height:32px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:32px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u12 {
  position:absolute;
  left:360px;
  top:350px;
  width:220px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u12_img.mouseOver {
}
#u12.mouseOver {
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:216px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:220px;
  top:232px;
  width:120px;
  height:20px;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:220px;
  top:291px;
  width:120px;
  height:20px;
  font-size:14px;
  color:#333333;
  text-align:right;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:865px;
  top:10px;
  width:50px;
  height:17px;
  font-size:12px;
  color:#333333;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:905px;
  top:10px;
  width:50px;
  height:17px;
  font-size:12px;
  color:#0099FF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:791px;
  top:10px;
  width:50px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:738px;
  top:10px;
  width:50px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:52px;
  top:30px;
  width:128px;
  height:50px;
  font-size:18px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u26_img.mouseOver {
}
#u26.mouseOver {
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
