body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:940px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:450px;
}
#u0_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:310px;
  font-size:14px;
  color:#CCCCCC;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:310px;
}
#u2 {
  position:absolute;
  left:2px;
  top:147px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:220px;
  top:120px;
  width:300px;
  height:40px;
  font-size:14px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
}
#u4 {
  position:absolute;
  left:2px;
  top:12px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:230px;
  top:124px;
  width:280px;
  height:32px;
}
#u5_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:32px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:14px;
  text-decoration:none;
  color:#999999;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u6 {
  position:absolute;
  left:520px;
  top:120px;
}
#u6_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u6_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7 {
  position:absolute;
  left:80px;
  top:0px;
  width:30px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u7_img.mouseOver {
}
#u7.mouseOver {
}
#u8 {
  position:absolute;
  left:15px;
  top:12px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:85px;
  top:12px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11_img.mouseOver {
}
#u11.mouseOver {
}
#u12 {
  position:absolute;
  left:15px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:75px;
  top:0px;
  width:10px;
  height:40px;
}
#u13_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u13_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u13_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u6_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:46px;
  width:200px;
  height:145px;
  font-size:14px;
  color:#333333;
  text-align:left;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:145px;
}
#u15 {
  position:absolute;
  left:15px;
  top:10px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:0px;
  top:144px;
  width:200px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:183px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:200px;
  height:1px;
}
#u17 {
  position:absolute;
  left:20px;
  top:63px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#333333;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u17_img.mouseOver {
}
#u17.mouseOver {
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:20px;
  top:89px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#333333;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u19_img.mouseOver {
}
#u19.mouseOver {
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:20px;
  top:115px;
  width:29px;
  height:20px;
  font-size:14px;
  color:#333333;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
}
#u21_img.mouseOver {
}
#u21.mouseOver {
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:20px;
  top:162px;
  width:57px;
  height:20px;
  font-size:14px;
  color:#333333;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
}
#u23_img.mouseOver {
}
#u23.mouseOver {
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:80px;
  top:0px;
  width:30px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u25_img.mouseOver {
}
#u25.mouseOver {
}
#u26 {
  position:absolute;
  left:15px;
  top:12px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:85px;
  top:11px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(270deg);
  -moz-transform:rotate(270deg);
  -ms-transform:rotate(270deg);
  transform:rotate(270deg);
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u28 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u29_img.mouseOver {
}
#u29.mouseOver {
}
#u30 {
  position:absolute;
  left:15px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:75px;
  top:0px;
  width:10px;
  height:40px;
}
#u31_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u31_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u31_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u6_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u6_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:80px;
  top:0px;
  width:30px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
}
#u32_img.mouseOver {
}
#u32.mouseOver {
}
#u33 {
  position:absolute;
  left:15px;
  top:12px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:85px;
  top:12px;
  width:20px;
  height:20px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u37 {
  position:absolute;
  left:15px;
  top:10px;
  width:63px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:75px;
  top:0px;
  width:10px;
  height:40px;
}
#u38_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u38_end {
  position:absolute;
  left:-5px;
  top:23px;
  width:20px;
  height:18px;
}
#u38_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:40px;
}
#u0_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:310px;
  font-size:14px;
  color:#CCCCCC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:310px;
}
#u40 {
  position:absolute;
  left:2px;
  top:147px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:129px;
  top:90px;
  width:100px;
  height:100px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u42 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:426px;
  top:90px;
  width:100px;
  height:100px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u44 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:699px;
  top:90px;
  width:100px;
  height:100px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u46 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:0px;
  top:350px;
  width:480px;
  height:100px;
  font-size:14px;
  color:#CCCCCC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u48 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:460px;
  top:350px;
  width:480px;
  height:100px;
  font-size:14px;
  color:#CCCCCC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:480px;
  height:100px;
}
#u50 {
  position:absolute;
  left:2px;
  top:42px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:0px;
  top:80px;
}
#u51_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u51_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:270px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:270px;
}
#u53 {
  position:absolute;
  left:2px;
  top:127px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:394px;
  top:22px;
  width:200px;
  height:28px;
  font-size:20px;
  color:#333333;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:129px;
  top:90px;
  width:100px;
  height:100px;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u57 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:426px;
  top:90px;
  width:100px;
  height:100px;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u59 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:699px;
  top:90px;
  width:100px;
  height:100px;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u61 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:300px;
  top:130px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u62_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u63 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u64 {
  position:absolute;
  left:590px;
  top:130px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u64_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u65 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u51_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u51_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:270px;
}
#u66_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:270px;
}
#u67 {
  position:absolute;
  left:2px;
  top:127px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u68 {
  position:absolute;
  left:394px;
  top:22px;
  width:200px;
  height:28px;
  font-size:20px;
  color:#333333;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:129px;
  top:90px;
  width:100px;
  height:100px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u71 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u72 {
  position:absolute;
  left:426px;
  top:90px;
  width:100px;
  height:100px;
}
#u72_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u73 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u74 {
  position:absolute;
  left:699px;
  top:90px;
  width:100px;
  height:100px;
}
#u74_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u75 {
  position:absolute;
  left:2px;
  top:42px;
  width:96px;
  visibility:hidden;
  word-wrap:break-word;
}
#u76 {
  position:absolute;
  left:300px;
  top:130px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u76_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u77 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u78 {
  position:absolute;
  left:590px;
  top:130px;
  width:30px;
  height:30px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u78_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u79 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:0px;
  top:30px;
  width:940px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:24px;
  color:#666666;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:50px;
}
#u81 {
  position:absolute;
  left:2px;
  top:17px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:10px;
  top:38px;
  width:45px;
  height:35px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:35px;
}
#u82_img.mouseOver {
}
#u82.mouseOver {
}
#u83 {
  position:absolute;
  left:2px;
  top:10px;
  width:41px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:52px;
  top:30px;
  width:128px;
  height:50px;
  font-size:18px;
  color:#666666;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:128px;
  height:50px;
}
#u84_img.mouseOver {
}
#u84.mouseOver {
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:124px;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:882px;
  top:8px;
  width:50px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:17px;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u88 {
  position:absolute;
  left:802px;
  top:12px;
  width:50px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u88_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u90 {
  position:absolute;
  left:746px;
  top:12px;
  width:50px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u90_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:12px;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u92 {
  position:absolute;
  left:0px;
  top:750px;
  width:940px;
  height:150px;
}
#u92_img {
  position:absolute;
  left:0px;
  top:0px;
  width:940px;
  height:150px;
}
#u93 {
  position:absolute;
  left:2px;
  top:67px;
  width:936px;
  visibility:hidden;
  word-wrap:break-word;
}
#u94 {
  position:absolute;
  left:180px;
  top:386px;
  width:200px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#333333;
}
#u94_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u95 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u96 {
  position:absolute;
  left:630px;
  top:386px;
  width:200px;
  height:28px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#333333;
}
#u96_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u97 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u98 {
  position:absolute;
  left:0px;
  top:350px;
  width:470px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u99 {
  position:absolute;
  left:470px;
  top:350px;
  width:470px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u100 {
  position:absolute;
  left:11px;
  top:12px;
  width:150px;
  height:12px;
  font-family:'STHeitiSC-Light', 'Heiti SC Light', 'Heiti SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#333333;
}
#u100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:12px;
}
#u101 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u102 {
  position:absolute;
  left:370px;
  top:811px;
  width:200px;
  height:28px;
  font-size:20px;
  color:#333333;
}
#u102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:28px;
}
#u103 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
#u104 {
  position:absolute;
  left:390px;
  top:900px;
  width:200px;
  height:16px;
  font-size:14px;
  color:#333333;
}
#u104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:16px;
}
#u105 {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  word-wrap:break-word;
}
